.chat {
	height: 100%;

	display: flex;
	flex-flow: column;
	.messagesWrapper {
		width: 100%;
		max-width: 640px;
		margin: auto;
		overflow-y: auto;
		flex: 1 1 auto;
		.messageLine {
			width: 100%;
			display: inline-block;
			.message {
				padding: 16px;
				margin-left: 24px;
				margin-right: 24px;
				margin-bottom: 16px;
				width: fit-content;
				max-width: 240px;
				background-color: #fff;
				border: 1px solid rgb(193, 193, 193);
				border-radius: 5px;
				@media (min-width: 800px) {
					max-width: 420px;
				}
				span {
					display: block;
					line-height: 25px;
				}
				.author {
					color: rgb(193, 193, 193);
				}
				.ts {
					color: rgb(193, 193, 193);
				}
			}
			.own {
				float: right;
				background-color: rgb(252, 245, 200);
				.ts {
					float: right;
				}
			}
		}
	}
	.messageInputWrapper {
		flex: 0 1;
		flex-basis: auto;
		height: 65px;
		background-color: #3d99d2;
		width: 100%;
		form {
			max-width: 640px;
			margin: auto;
			display: flex;
			flex-flow: row;
			height: 100%;
		}
		input {
			margin: 8px 0px 8px 8px;
			border-radius: 5px;
			border: 2px solid #3278a2;
			font-size: 1.2em;
			width: 100%;
			box-sizing: border-box;
			padding: 0px 8px;
			caret-color: #3278a2;
		}
		button {
			margin: 8px;
			padding: 0px 24px;
			font-size: 18px;
			color: white;
			background-color: #fd8871;
			border: none;
			border-radius: 5px;
		}
	}
}
